.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

.btn-dark:hover{
    color: #abadaf;
}

.footer a:link{
    color: #F8F7F3
}
.footer a:visited{
    color: #F8F7F3
}
.footer a:hover{
    color: #D9D8D4
}

div.box {
    border: 1px black solid;
    height: 160px;
    width: px;
    background: #444;
    display: table-cell;
    vertical-align: middle;
}
.box img {
    display:block;
    margin: 0px auto;
}